doctype html
html
  head
    title tic-tac-io
  body
    div this is a tic tac toe
    .row
      button#0 0
      button#1 1
      button#2 2
    .row
      button#3 3
      button#4 4
      button#5 5
    .row
      button#6 6
      button#7 7
      button#8 8
    script(src='/socket.io/socket.io.js')
    script.
      (function init(){
        var socket = io();
        var whoFirst;

        for(var i=0; i<9; i++){
          var btn = document.getElementById(i);
          //btn.innerHTML = '+'
          btn.addEventListener('click', btnClick);
        }

        function newGame(){
          for(var i=0; i<9; i++){
            var btn = document.getElementById(i);
            btn.innerHTML = '+';
          }

          socket.emit('newGame');

          whoFirst = confirm('Do you want to go first?') ? 1 : 2;
          if(whoFirst == 2){
            socket.emit('compMove', function(err, move){
              document.getElementById(move).innerHTML = 'O';
            });
          }
        };

        function btnClick(){
          var index = this.id;
          socket.emit('playerMove', index, function(err, data){
            if(err){
              alert(err);
              return newGame();
            }

            if(data == index){
              document.getElementById(index).innerHTML = 'X';
              socket.emit('compMove', function(err, move){
                document.getElementById(move).innerHTML = 'O';
                if(err){
                  alert(err.msg);
                  return newGame();
                }
              });
            }
          });
        }
        newGame();
      })();