doctype html
html
  head
    title tic-tac-io
  body
    div this is a tic tac toe
    .row
      button#0 0
      button#1 1
      button#2 2
    .row
      button#3 3
      button#4 4
      button#5 5
    .row
      button#6 6
      button#7 7
      button#8 8
    script(src='/socket.io/socket.io.js')
    script(src='javascripts/tictac.js')